// modified Tutti Frutti Theme by @chrissealey

.highlight {
	.n {
	color: #1b9af7;
	}
	.k {
		color: #8bd300;
	}
	.o {
		color: #ed4694;
	}
	.p {
	}
	.c {
		color: #888;
	}
	.err {
		color: #ff4351;
	}
	.cm {
		color: #888;
	}
	.cp {
		color: #888;
	}
	.c1 {
		color: #888;
	}
	.cs {
		color: #888;
	}
	.gd {
	}
	.gd .x {
	}
	.ge {
	}
	.gr {
		color: #ff4351;
	}
	.gh {
		color: #888;
	}
	.gi {
	}
	.gi .x {
	}
	.go {
		color: #888;
	}
	.gp {
		color: #888;
	}
	.gs {
	}
	.gu {
		color: #888;
	}
	.gt {
		color: #ff4351;
	}
	.kc {
		color: #1b9af7;
	}
	.kd {
		color: #1b9af7;
	}
	.kp {
		color: #1b9af7;
	}
	.kr {
		color: #1b9af7;
	}
	.kt {
		color: #1b9af7;
	}
	.m {
		color: #ed4694;
	}
	.s {
		color: #fc880f;
	}
	.na {
		color: #8bd300;
	}
	.nb {
		color: #1b9af7;
	}
	.nc {
		background-color: rgba(123,114,233,.05);
		border-radius: 2px;
		color: #7b72e9;
	}
	.no {
		color: #8bd300;
	}
	.ni {
		color: #7b72e9;
	}
	.ne {
		color: #ed4694;
	}
	.nf {
		background-color: rgba(123,114,233,.05);
		border-radius: 2px;
		color: #7b72e9;
	}
	.nd {
		color: #ed4694;
	}
	.nn {
		color: #ed4694;
	}
	.nt {
		background-color: rgba(27,154,247,.05);
		border-radius: 2px;
		color: #1b9af7;
	}
	.nv {
		color: #ed4694;
	}
	.nx {
		background-color: rgba(237,70,148,.05);
		border-radius: 2px;
		color: #ed4694;
	}
	.ow {
		color: #ed4694;
	}
	.w {
		color: #888;
	}
	.mf {
		color: #8bd300;
	}
	.mh {
		color: #8bd300;
	}
	.mi {
		color: #8bd300;
	}
	.mo {
		color: #8bd300;
	}
	.sb {
		color: #fc880f;
	}
	.sc {
		color: #fc880f;
	}
	.sd {
		color: #fc880f;
	}
	.s2 {
		color: #fc880f;
	}
	.se {
		color: #fc880f;
	}
	.sh {
		color: #fc880f;
	}
	.si {
		color: #fc880f;
	}
	.sx {
		color: #fc880f;
	}
	.sr {
		color: #fc880f;
	}
	.s1 {
		color: #fc880f;
	}
	.ss {
		color: #db49d8;
	}
	.bp {
		color: #ed4694;
	}
	.vc {
		color: #8bd300;
	}
	.vg {
		color: #8bd300;
	}
	.vi {
		color: #8bd300;
	}
	.il {
		color: #8bd300;
	}
}