<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
			{% include navbar.html %}

		<!-- Main -->
			<div id="main">
				{{ content }}

			<!-- Pagination -->
				<ul class="actions pagination">
					{% if paginator.previous_page %}
						<a href="{{ paginator.previous_page_path }}" class="button big previous">Previous</a>
					{% endif %}
					{% if paginator.next_page %}
						<a href="{{ paginator.next_page_path }}" class="button big next">Next</a>
					{% endif %}
				</ul>
			</div>

			<!-- Sidebar -->
			{% include sidebar.html %}

	</div>

	<!-- Scripts -->
		{% include footer.html %}

	</body>

</html>
